/* Footer.css */

.footer {
    background-color: white;
    padding: 10px;
    text-align: center;
  }
  
  .footer-logo {
    margin-bottom: 15px;
  }
  
  .footer-logo-img {
    max-width: 90px;
    max-height: 70px;
  }
  
  .footer-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Space between items */
    align-items: center;
  }
  
  .footer-link {
    color: black;
    text-decoration: none;
    font-size: 16px;
  }
  
  .footer-link:hover {
    text-decoration: none;
  }
  
  .footer-divider {
    color: #333;
    font-size: 18px;
    padding: 0 10px; /* Space around the divider */
  }
  
  @media (max-width: 768px) {
    .footer-logo-img {
      max-width: 120px; /* Adjust for smaller screens */
    }
  
    .footer-link {
      font-size: 14px;
    }
  
    .footer-divider {
      font-size: 16px;
      padding: 0 5px;
    }
  }
  
  @media (max-width: 480px) {
    .footer-logo-img {
      max-width: 100px; /* Further adjust for mobile screens */
      max-height: 90px;
    }
  
    .footer-nav {
      flex-direction: row;
    }
  
    .footer-link {
      font-size: 12px;
    }
  
    .footer-divider {
      font-size: 14px;
      padding: 5px 0;
    }
  }
  