.destination-cards {
    padding: 20px;
  }
  
  .destination-heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .destinations-cards {
    display: flex;
    justify-content: space-evenly; /* Space out the cards evenly */
    flex-wrap: wrap; /* Allows cards to wrap to the next line on smaller screens */
    gap: 20px; /* Space between cards */
  }
  
  .destination-card {
    width: 420px; /* Fixed width for desktop */
    height: 250px; /* Fixed height */
    position: relative; /* Position relative for absolute positioning of text */
    overflow: hidden; /* Ensure content does not overflow */
  }
  
  .destination-card-image-container {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .destination-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
  
  .destination-card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    width: 80%; /* Adjust width of the content box */
  }
  
  .destination-card-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }
  
  @media (max-width: 1024px) {
    .destination-card {
      width: calc(50% - 20px); /* 2 cards per row on larger tablets */
    }
  }
  
  @media (max-width: 768px) {
    .destination-card {
      width: calc(50% - 20px); /* 2 cards per row on smaller tablets */
    }
  }
  
  @media (max-width: 480px) {
    
    .destination-heading {
      font-size: 20px;
    }
  
    .destination-card {
      width: calc(100% - 20px); /* Full width for mobile devices */
      height: auto; /* Adjust height to fit content */
    }
  
    .destination-card-title {
      font-size: 18px;
    }
  }
  